---
import Carousel from "@/components/Carousel";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Astro Coverflow Carousel"
  description="A responsive, animated coverflow carousel built with Astro, Motion, and Tailwind CSS."
>
  <div class="flex flex-1 flex-col">
    <section class="border-border/50 dark:border-border">
      <div
        class="3xl:fixed 3xl:max-w-[calc(var(--breakpoint-2xl)+2rem)] mx-auto w-full px-2"
      >
        <div
          class="container flex flex-col items-center gap-2 py-8 text-center md:py-16 lg:py-20 xl:gap-4"
        >
          <h1
            class="text-primary leading-tighter text-4xl font-semibold tracking-tight text-balance lg:leading-[1.1] lg:font-semibold xl:text-5xl xl:tracking-tight max-w-4xl"
          >
            Astro Coverflow Carousel
          </h1>
          <p
            class="text-foreground max-w-3xl text-base text-balance sm:text-lg"
          >
            Swipe through images in a sleek coverflow interface using Motion
            animations.
          </p>
        </div>
      </div>
    </section>
    <div
      class="3xl:fixed:max-w-[calc(var(--breakpoint-2xl)+2rem)] mx-auto w-full px-2 section-soft flex-1 pb-6"
    >
      <div class="container overflow-hidden">
        <Carousel client:load />
      </div>
    </div>
  </div>
</BaseLayout>
