---
import ThemeToggle from "@/components/ThemeToggle.astro";
import { buttonVariants } from "@/components/ui/button";
---

<header class="bg-background sticky top-0 z-50 w-full">
  <div class="container px-4 mx-auto flex h-16 items-center justify-between">
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-1" aria-label="Primary navigation">
        <a
          href="https://github.com/AREA44/astro-coverflow-carousel"
          target="_blank"
          rel="noreferrer"
          class={buttonVariants({ variant: "ghost" })}
        >
          GitHub
        </a>
        <ThemeToggle />
      </nav>
    </div>
  </div>
</header>
