---
import ThemeToggle from "@/components/ThemeToggle.astro";
import { Button } from "@/components/ui/button";
---

<header class="bg-background sticky top-0 z-50 w-full">
  <div class="container-wrapper 3xl:fixed:px-0 px-6">
    <div
      class="3xl:fixed:container flex h-(--header-height) items-center **:data-[slot=separator]:h-4!"
    >
      <div class="ml-auto flex items-center gap-2 md:flex-1 md:justify-end">
        <a
          href="https://github.com/area44/astro-coverflow-carousel"
          target="_blank"
          rel="noopener noreferrer"
          class="relative items-center"
        >
          <Button variant="ghost" size="sm" className="px-2.5"> GitHub </Button>
        </a>
        <ThemeToggle />
      </div>
    </div>
  </div>
</header>
